* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(240, 128, 128, 0.1);
  display: flex;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  width: 1000px;
  background-color: #fff;
  height: 100%;
  padding: 20px 0;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

